@font-face {
    font-family: 'Giants-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body{
    overflow: hidden;
    background-color: #dcdcdc48;
    #mainpart{
        
        display: flex;
        
        justify-content: center;
        
        #webcam{
            margin-top: 50px;
            margin-right: 50px;
            margin-left: 20px;
            width: 1200px;
            height: 700px;
            border-radius: 10px;
        }
        
        #control{
            width: 300px;
            margin-top: 50px;
            
            margin-right: 20px;
            #live{
                font-family: 'Giants-Bold';
                width: 300px;
                border-radius: 10px;
                background-color: white;
                display: flex;
                justify-content: center;
                border: 1px solid lightgray;
            }
            #button{
                border: 1px solid lightgray;
                
                border-radius: 10px;
                background-color: white;
                #audio{
                    margin-top: 20px;
                    .btn1, .btn2, .btn3{
                        background-size: 100% 100%;
                        width: 40px;
                        height: 40px;
                        border-radius: 40%;
                        background-color: rgba(255, 255, 255);
                        border: none;
                        background-color: #dcdcdca4;
                    }
                    .btn1:hover, .btn2:hover, .btn3:hover{
                        background-color: #a9a9a9a4;

                    }
                }
                #controlbtn{
                    display: flex; 
                    justify-content: space-around;
                    margin-bottom: 5px;
                    #lbtn, #rbtn{
                        width: 35px;
                        border: none;
                        background-size: 100% 100%;
                        border-radius: 10px;
                        background-color: #dcdcdca4;
                    }
                    #lbtn:hover, #rbtn:hover{
                        background-color: #a9a9a9a4;
                    }
                    #is-auto-btn{
                        font-family: 'Giants-Bold';
                        background-color: white;
                        border-radius: 10px;
                        border: none;
                        background-color: #dcdcdca4;
                    }
                    #is-auto-btn:hover{
                        background-color: #a9a9a9a4;
                    }
                    
                }
                #cbtn{
                    font-family: 'Giants-Bold';
                    padding: 3px;
                    // background-color: rgba(255, 255, 255);
                    border-radius: 10px;
                    border: none;
                    // background-color: #dcdcdca4;
                }
                #cbtn:hover{
                    background-color: #a9a9a9a4;
                }
            }
        }
        #homeinfo{
            display: flex;
            justify-content: space-around;
            font-family: 'Giants-Bold';
            width: 300px;
            height: 50px;
            border-radius: 10px;
            border: 1px solid lightgray;
            padding: 7px;
            background-color: white;
            #tempinfo{
                display: flex; 
                height: 35px; 
                width: 80px; 
                align-items: center;
            }
            #humiinfo{
                display: flex; 
                height: 35px; 
                width: 80px; 
                align-items: center; 
            }
        }
        #help{
            font-family: 'Giants-Bold';
            float: right;
            #show{
                background-image: url('/style/img/helpicon.png');
                background-size: 100% 100%;
                background-color: rgba(255, 255, 255, 0);
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: none;
            }
            
        }
    }
    .popup{
        #button{
            #close{
            float: right; 
            border: none; 
            background-color: white; 
            font-size: x-large; 
            background-color: #dcdcdca4;
            }
        }
        
        
    }
    .background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1000;

        /* 숨기기 */
        z-index: -1;
        opacity: 0;
    }

    .show {
        opacity: 1;
        z-index: 1000;
        transition: all 0.5s;
    }

    .window {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .popup {
        background-image: url('/style/img/help.png'); 
        background-size: 100% 100%;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #ffffff;
        box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);

        /* 임시 지정 */
        width: 500px;
        height: 400px;

        /* 초기에 약간 아래에 배치 */
        transform: translate(-50%, -40%);
    }

    .show .popup {
        transform: translate(-50%, -50%);
        transition: all 0.5s;
    }
}

@media (max-width:1350px){
    body{
        #mainpart{
            #webcam{
                margin-top: 50px;
                margin-right: 50px;
                margin-left: 20px;
                width: 900px;
                height: 600px;
                
            }
        }
    }
    
}

@media (max-width:1200px){
    body{
        
        #mainpart{
            
            display: flex;
            flex-direction: column;
            margin-top: 3%;
            
            #webcam{
                
                margin: auto;               
                width: 800px;
                height: 535px;
                border-radius: 10px 10px 0px 0px;
            }
            
            #control{
                margin-top: 10px;
                margin: auto;
                width: 800px;
                height: 200px;
                background-color: #ffffff;
                border-radius: 0px 0px 10px 10px;
                border-top: none;
                border: 1px solid lightgray;
                display: flex;
                justify-content: space-around;
                
                #live{
                    display: none;
                }
                
                #button{
                    margin-right: 30px;
                    margin-top: 10px;
                    width: 300px;
                    height: 180px;
                    
                    #audio{
                        margin-top: 10px;
                    }
                }
            }
            #homeinfo{
                width: 100px;
                height: 100px;
                margin-top: 10px;
                flex-direction: column;
                
            }
            #help{
                margin-left: 90px;
                margin-top: 150px;
                
            }
        }
    } 
}


@media (max-width:830px){
    body{
        #mainpart{
            display: flex;
            flex-direction: column;
            
            #webcam{
                margin-top: 50px;
                margin: auto;
                
                width: 700px;
                height: 535px;
            }
            
            #control{
                margin:auto ;
                width: 700px;
                height: 180px;
                display: flex;
                justify-content: space-around;
                
                #live{
                    display: none;
                }
                
                #button{
                    margin-right: 10px;
                    width: 250px;
                    height: 160px;
                    #audio{
                        margin-top: 3px;
                    }
                }
            }
            #homeinfo{
               
                flex-direction: column;
            }
            #help{
                margin-left: 90px;
                margin-top: 130px;
                
            }
        }
    } 
}



@media (max-width:705px){
    body{
        #mainpart{
            
            
            #webcam{
                
                
                width: 100%;
                height: 535px;
            }
            
            #control{
                
                width: 100%;
                height: 180px;
                
                #button{
                    
                   width: 250px;
                   height: 160px;
                    #controlbtn{
                        margin: 0px;
                    }
                }
            }
            #help{
                font-size: 10px;
                margin-left: 60px;               
            }
        }
    } 
}

@media (max-width:360px){
    body{
        #mainpart{
            
            
            #webcam{
                
                border-radius: 0px 0px 0px 0px;
                width: 100%;
                height: 350px;
            }
            
            #control{
                border-radius: 0px 0px 0px 0px;
                width: 100%;
                height: 180px;
                #button{
                    margin-left: 5px;
                    width: 250px;
                    height: 160px;
                }
            }
            #help{
                font-size: 10px;
                margin-left: 8px;
                margin-right: 3px;               
            }
        }
        .popup{
            width: 330px;
            height: 340px;
        }
    } 
}

