@font-face {
    font-family: 'JalnanGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: white;
    font-family: 'JalnanGothic';
    #maptext_1{
        width: 100%; 
        height: 130px; 
        background-color: rgb(255, 255, 255); 
        display: flex; 
        margin-top: 20px;
        #maptext_1-1{
            display: flex; 
            align-items: center; 
            margin-left: 5%;
            #mapicon{
                background-image: url('/style/img/pethospital.png'); 
                width: 100px; 
                height: 100px; 
                background-size: 100% 100%;
            }
        }
        #maptext_1-2{
            height: 150px; 
            display: flex; 
            align-items: center; 
            margin-left: 10px;
            
        }
    }
    #mappart{
        display: flex;
        justify-content: center;
        #googlemap{
            // margin-left: 30px;
            // margin-top: 30px;
            height: 600px;
            width: 90%;
        }
    }
    #maptext_2{
        float: right; 
        margin-right: 5%; 
        margin-top: 10px;
    }
}


@media(max-width: 400px){
    body{
        #maptext_1{

            #maptext_1-1{

                #mapicon{
                    width: 60px; 
                    height: 60px; 
                }
            }
        }
        #mappart{
            #googlemap{
                height: 400px;
            }
        }
    }
}